<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blue.jk.mapper.FactoryMapper">


    <resultMap id="factoryRM" type="cn.blue.jk.domain.Factory">
        <id column="FACTORY_PRODUCT_ID" property="id" />
        <result column="FULL_NAME" property="fullName" />
        <result column="FACTORY_NAME" property="factoryName" />
        <result column="PHONE" property="phone" />
        <result column="MOBILE" property="mobile" />
        <result column="FAX" property="fax" />
        <result column="CNOTE" property="cnote" />
        <result column="INSPECTOR" property="inspector" />
        <result column="STATE" property="state" />

        <result column="ORDER_NO" property="orderNo" />
        <result column="CREATE_BY" property="createBy" />
        <result column="CREATE_DEPT" property="createDept" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>
    <select id="find" parameterType="map" resultMap="factoryRM">
        SELECT * from factory_c
    </select>

    <insert id="insertFactory" parameterType="cn.blue.jk.domain.Factory">
        insert into factory_c(FACTORY_PRODUCT_ID,FULL_NAME,FACTORY_NAME,PHONE,MOBILE,FAX,CNOTE,INSPECTOR,STATE,ORDER_NO,CREATE_BY,CREATE_DEPT,CREATE_TIME) values(
        #{id},#{fullName},#{factoryName},#{phone},#{mobile},#{fax},#{cnote},#{inspector},#{state},#{orderNo},#{createBy},#{createDept},#{createTime})
    </insert>
</mapper>